{% load staticfiles %}
{% load rules %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- load css framework -->
    {% block stylesheets %}
    {% endblock stylesheets %}

    <!-- load js framework -->

      <script src="{% static "bower_components/react/react.js" %}"></script>
    <script src="{% static "bower_components/react/react-dom.js" %}"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>


</head>

<body>


<header>


    <!-- horizontal bar -->

    <nav>
    </nav>

    <!-- vertical bar -->
    <!-- Dropdown Trigger -->

</header>

<main>


    {% block container %}
    {% endblock container %}


    {% block context %}

    {% endblock context %}


</main>

<footer id="footer">
    <div class="row center">
    <span class="grey-text">
    Copyright © 2016 </span>
    </div>
</footer>

</body>

{% block javascripts %}
{% endblock javascripts %}
</html>