{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <div id="content"></div>
{% endblock container %}

{% block context %}


{% endblock context %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/babel" src="{% static "jsx/home.js" %}"></script>
{% endblock %}